# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* A table of Data Science Tools
* Introducing arithmetic expression examples
* Indicate the Author's name
* Share the notebook through GitHub

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. Numpy
3. Matplotlib

| Data Science Tools |
|------------------- |
| Jupyter Notebook   |
| Rstudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [1]:
#This will convert 200 minutes to hours by diving by 60

min = 200
hr = min/60
print(hr)

3.3333333333333335

## Author
Wai Yar Aung